// custom param color
$orange-custom : #F18825;
$blue-custom : #2B3DEC;
$footer: var(--light-black, #373F41);
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$primary: $orange-custom;
$secondary: $blue-custom;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
